    body {
      background-color: #212121;
    }
    .demo-card-square.mdl-card {
      width: 320px;
      height: 320px;
      background-color: #424242;
    }
      .mdl-card__supporting-text {
        color: #FFFFFF
      }
      .mdl-card__title-text {
        color: #FFFFFF
      }
    .memepanel > .mdl-card__title {
      color: #fff;
      background: url('dankmeme.png') bottom right 15% no-repeat #FFFFFF;
        
    }
    .musicplaypanel > .mdl-card__title {
      color: #fff;
      background: url('') bottom right 15% no-repeat #FFFFFF;
    }

    .nsfw > .mdl-card__title {
      color: #fff;
      background: url('') bottom right 15% no-repeat #FFFFFF;
    }

    .mod > .mdl-card__title {
      color: #fff;
      background: url('') bottom right 15% no-repeat #FFFFFF;
    }
